.navbar {
  margin-bottom: 0;
  padding: 0 15px;
  border: none;
  background: #ffffff;
}
.navbar .container {
  box-sizing: border-box;
  padding: 15px;
  border: none;
}
.navbar .container .navbar-brand {
  padding: 0;
  padding-left: 12px;
}
.navbar .container .navbar-brand img {
  display: block;
  height: 48px;
  width: auto;
}
.navbar .container .collapse ul li a {
  color: #000000;
}
.banner {
  background: url(../images/news.jpg) center center no-repeat;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}
.banner .container {
  height: 440px;
  box-sizing: border-box;
  padding: 120px 0;
}
.banner .container p {
  color: #fff;
  margin: 0;
}
.banner .container .content {
  color: #f9ce03;
  margin-top: 20px;
}
.banner .container .name {
  letter-spacing: 6px;
  margin-top: 12px;
}
.banner .container h1 {
  color: #ffffff;
  margin: 0;
}
.news {
  margin-top: -120px;
}
.news .container {
  background: #ffffff;
  box-shadow: 5px 10px 10px #e0dfdf;
}
.news .container .news_btn {
  margin: 0 auto;
  margin-top: 40px;
  width: 366px;
  border: 1px solid #f9ce03;
  border-radius: 28px;
  overflow: hidden;
  box-sizing: border-box;
}
.news .container .news_btn .btn_l {
  display: inline-block;
  width: 180px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  cursor: pointer;
}
.news .container .news_btn .active {
  border: 1px solid #f9ce03;
  background: #f9ce03;
  color: #fff;
}
.news .container .news_content .news_x1 {
  padding: 10px 10px 20px 10px;
  box-sizing: border-box;
}
.news .container .news_content .news_x1 .row {
  border-top: 1px solid #ccc;
  padding-bottom: 10px;
  box-sizing: border-box;
  padding-top: 10px;
}
.news .container .news_content .news_x1 .row div {
  padding: 10px;
  box-sizing: border-box;
}
.news .container .news_content .news_x1 .row div h1 {
  margin: 0;
}
.news .container .news_content .news_x1 .row div p {
  margin: 0;
  line-height: 24px;
}
.news .container .news_content .news_x1 .row div .time {
  margin: 10px 0;
  color: #888;
}
.news .container .news_content .news_x1 .row div img {
  display: block;
  width: 100%;
  height: auto;
}
.news .container .news_content .news_x1 .row div span {
  margin-top: 20px;
  display: block;
  width: 160px;
  height: 48px;
  border: 1px solid #f9ce03;
  color: #f9ce03;
  text-align: center;
  line-height: 48px;
}
.news .container .news_content .news_x1 .row:nth-child(1) {
  border-top: none;
}
.news .container .news_content .news_x1:nth-child(n+2) {
  display: none;
}
.footer {
  background: url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
  margin-top: 40px;
}
.footer .container {
  padding: 40px 0;
}
.footer .container h1 {
  color: #ccc;
  margin-bottom: 12px;
}
.footer .container p {
  color: #ccc;
}
.footer .container p span {
  padding-right: 10px;
}
.footer .container .contact {
  margin: 36px 0;
}
